<div class="position-relative">
  <%= image_tag 'top.png', alt: 'class-family トップ画像', class: 'img-fluid w-100 fade-in-image' %>
  <%= link_to shinogi_path, class: 'lips-link', aria: { label: 'シノギ一覧へ' } do %><% end %>
</div>
