<header class="py-0" style="background-color: #1a1a1a; border-bottom: 2px solid #FFD700; min-height: 70px;">
  <nav class="navbar navbar-dark">
    <div class="container-fluid px-4 d-flex align-items-center">
      <%= link_to "User一家", root_path, class: "navbar-brand fude-font fs-2 m-0" %>
      <div class="d-flex ms-auto">
        <%= link_to "新規組員登録", new_user_path, class: "navbar-brand fude-font fs-5 m-0" %>
      </div>
    </div>
  </nav>
</header>
